p {
    color: black;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 14px;
}

h2 {
    color: black;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 25px;
}

#pageTitle {
    color: black;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 60px;
}
#pageSubTitle {
    color: black;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 20px;
}
.row {
    position: relative;
}
#bottomAlignedText {
    position: absolute;
    bottom: 15px;
    right: 0;
}
#startPageBody {
    background-image: url("images/familydinner.jpg");
    background-size: cover;
}
#startPageHeader {
	 background:rgba(255,255,255,0.7);
}
#startPageDescription {
    background:rgba(255,255,255,0.7);
    margin-top: 350px;
}
#createDinnerButton {
  background: #FFCC80;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 20px;
  margin-bottom: 10px;
}




























