.col-md-2{
	padding-top: 20px;
	width: 20%;
	float: left;
	height: 200px;
}

#headerViewAllDishes {
	text-align: left;
	font-style: normal;
	font-family: "Times New Roman", Times, serif;
	font-size: 50px;
	padding: 5px;
	background-color:#abdeee;
}

#menuScroll {
	overflow: hidden;
    overflow-y: scroll;
    height: 200px;
    /*padding-top: 50px;	*/
}

#allDishDescriptions {
	width: 150px;
	height: 43px;
	overflow: hidden;
}

#allDishPics {
	float: center;
	height: 100px;
	width: 150px;
}

#allDishNames {
	text-align: center;
	height: 40px;
	width: 150px;	
}

#twoSections {
	height: 600px;
}

#selectDish {
	height: 150px;
	/*padding-top: 50px;*/
	padding-bottom: 50px;
}