p {
    color: black;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 14px;
}

h2 {
    color: black;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 25px;
}

h3{
    color: black;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 20px;
} 
body {
    background: white;
}
button {
    background: #FFCC80;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

#pageTitle {
    color: black;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 60px;
}
#pageSubTitle {
    color: black;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 20px;
}
.row {
    position: relative;
}
#bottomAlignedText {
    position: absolute;
    bottom: 15px;
    right: 0;
}
#startPageBody {
    background-image: url("images/familydinner.jpg");
    background-size: cover;
}
#startPageHeader {
	 background:rgba(255,255,255,0.7);
}
#startPageDescription {
    background:rgba(255,255,255,0.7);
    margin-top: 350px;
    margin-bottom: 30px;
}
#createDinnerButton {
  background: #FFCC80;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 20px;
  margin-bottom: 10px;
}
#pageHeader {
    background: #FFE0A3;
}
#pageLeft {
    border-style: solid;
    text-align: center;
}
#recipePreparation {
   
}
#ingredientList {
    border-style: solid;
}
#backButton {
    margin-top: 10px;
}

/*viewAllDishes*/

#menuScroll {
    overflow: hidden;
    overflow-y: scroll;
    height: 300px;
}

#allDishDescriptions {
    width: 150px;
    height: 43px;
    overflow: hidden;
    padding-left: 20px;
}

#allDishPics {
    float: center;
    height: 100px;
    width: 150px;
}

#allDishNames {
    text-align: center;
    height: 40px;
    width: 150px;   
}

#searchDish {
    border: solid;
    margin-left: 10px;
}

#selectDish {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
    border-bottom: solid;
}

#separatorDiv {
    height: 40px;
}

#searchButton {
    margin-top: 0px;
}
#confirmDinner {
    margin: 10px;
}




























